[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
googleapis-common-protos = "*"
mysql-connector-python = "*"
kafka-python = "*"
jinja2 = "*"
pdfkit = "*"

[dev-packages]

[requires]
python_version = "3.10"
