
    
    /*panel*/
    .panel {
        /*border: none;
        box-shadow: none;*/
    }
    
    
    
    

    .form-group {
        /*padding: 15px 0 15px 0;*/
    }

    .row {
        /*margin-top: 0%;
        margin-right: 0%;
        margin-left: 0%;*/
    }
    
    
    /*product list*/

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    