.product-detail {
    padding: 30px 30px 50px;
}

.product-content {
    border: 1px solid #dfe5e9;
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff;
}

.price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

.carrito {
    transform: translate(-400%,-100%)!important;
}